.navbar {
  @apply sticky left-0 right-0 top-0 h-24 px-5 z-10 bg-white text-white flex justify-between px-24 items-center border-b-primary border-b-2;
}

.navbar > * {
  color: black;
}

.navbar__list {
  @apply 2xl:container  flex justify-between gap-8  items-center;
}

.navbar__bars {
  width: 100px;
  color: aquamarine;
}
